<%- include header %>
<form method="post">
    <div class="form-group">
        <label for="exampleInputPassword1">标题</label>
        <input type="text" class="form-control" name="title" placeholder="input title" disabled="disabled" value="<%- post.title %>">
    </div>
    <div class="form-inline">
        <label class="mar-right-20">标签</label>
        <input type="text" class="form-control mar-right-20" name="tag1" value="<%- post.tags[0] %>" placeholder="input tag">
        <input type="text" class="form-control mar-right-20" name="tag2" value="<%- post.tags[1] %>" placeholder="input tag">
        <input type="text" class="form-control mar-right-20" name="tag3" value="<%- post.tags[2] %>" placeholder="input tag">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Content</label>
        <textarea  class="form-control" name="post" placeholder="input content" cols="150" rows="50"><%- post.post %></textarea>
    </div>
    <input type="submit" class="btn btn-default" value="Submit">
</form>

<%- include footer %>