<%- include header %>
<% posts.forEach(function(post,index){ %>
<h2><a href="/u/<%- post.name %>/<%- post.time.day %>/<%- post.title %>"><%- post.title %></a></h2>
<p>
    作者:<%- post.name %> 日期:<%- post.time.minute %> | 标签:
    <% post.tags.forEach(function(tag,index){ %>
        <% if(tag){ %>
            <a href="/tag/<%- tag %>"><%- tag %></a>
        <% } %>
    <% }) %>
    |转载:
    <%if(post.reprint_info.reprint_to){%>
    <%- post.reprint_info.reprint_to.length %>
    <%}else{%>
    0
    <%}%>
    <%if(post.reprint_info.reprint_from){%>
    |
    <a href="/u/<%- post.reprint_info.reprint_from.name%>/<%- post.reprint_info.reprint_from.day%>/<%- post.reprint_info.reprint_from.title%>">原文链接</a>
    <%}%>
</p>
<div>
    <%- post.post %>
</div>
<% }) %>
<%- include footer %>